<!-- Core CSS -->

<!-- Page CSS -->
<link rel="stylesheet" href="../../assets/vendor/css/pages/page-profile.css" />


<!-- Content wrapper -->
<div class="content-wrapper">

	<!-- Content -->

	<div class="container-xxl flex-grow-1 container-p-y">


		<h4 class="fw-bold py-3 mb-4">
			<span class="text-muted fw-light">User Profile /</span> Profile
		</h4>


		<!-- Header -->
		<div class="row">
			<div class="col-12">
				<div class="card mb-4">
					<div class="user-profile-header-banner">
						<img src="../../assets/img/pages/profile-banner.png" alt="Banner image" class="rounded-top">
					</div>
					<div class="user-profile-header d-flex flex-column flex-sm-row text-sm-start text-center mb-4">
						<div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto">
							<img src="../../images/{{userSession.photoUrl}}" alt="user image"
								class="d-block h-auto ms-0 ms-sm-4 rounded user-profile-img">
						</div>
						<div class="flex-grow-1 mt-3 mt-sm-5">
							<div
								class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-4 flex-md-row flex-column gap-4">
								<div class="user-profile-info">
									<h4>{{userSession.firstName}} {{userSession.lastName}}</h4>
									<ul
										class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-2">
										<li class="list-inline-item fw-semibold">
											<i class='bx bx-pen'></i> {{userSession.type}}
										</li>
										<li class="list-inline-item fw-semibold">
											<i class='bx bxs-user-detail'></i>
											{{userSession.department}}
										</li>
										<li class="list-inline-item fw-semibold">
											<i class='bx bx-calendar-alt'></i>
											{{userSession.createdDate}}
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ Header -->

		<!-- User Profile Content -->
		<div class="row">
			<div class="col-xl-4 col-lg-5 col-md-5">
				<!-- About User -->
				<div class="card mb-4">
					<div class="card-body">
						<small class="text-muted text-uppercase">About</small>
						<ul class="list-unstyled mb-4 mt-3">
							<li class="d-flex align-items-center mb-3"><i class="bx bx-user"></i><span
									class="fw-semibold mx-2">Full Name:</span>
								<span>{{userSession.firstName}} {{userSession.lastName}}</span>
							</li>
							<li class="d-flex align-items-center mb-3"><i class="bx bx-check"></i><span
									class="fw-semibold mx-2">Status:</span> <span>Active</span></li>
							<li class="d-flex align-items-center mb-3"><i class="bx bx-user"></i><span
									class="fw-semibold mx-2">Role:</span>
								<span>{{userSession.type}}</span>
							</li>
							<li class="d-flex align-items-center mb-3"><i class="bx bx-male-female"></i><span
									class="fw-semibold mx-2">Gender:</span>
								<span>{{userSession.gender}}</span>
							</li>
							<li class="d-flex align-items-center mb-3"><i class="bx bxs-user-detail"></i><span
									class="fw-semibold mx-2">Department:</span>
								<span>{{userSession.department}}</span>
							</li>
						</ul>
						<small class="text-muted text-uppercase">Contacts</small>
						<ul class="list-unstyled mb-4 mt-3">
							<li class="d-flex align-items-center mb-3"><i class="bx bx-phone"></i><span
									class="fw-semibold mx-2">Contact:</span>
								<span>{{userSession.phone}}</span>
							</li>
							<li class="d-flex align-items-center mb-3"><i class="bx bx-envelope"></i><span
									class="fw-semibold mx-2">Email:</span>
								<span>{{userSession.email}}</span>
							</li>
						</ul>
					</div>
				</div>
				<!--/ About User -->
			</div>
		</div>
		<!--/ User Profile Content -->
	</div>
	<!-- / Content -->
	<div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->


<!-- beautify ignore:end -->